doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/main.css')
	body
		include ../partials/navbar
		block content
		
		script(type='text/javascript', src='https://use.fontawesome.com/releases/v5.5.0/js/all.js')
		script(type='text/javascript', src='/js/jquery.min.js')
		script(type='text/javascript', src='/js/bootstrap.bundle.min.js')