extends layouts/app

block content
	.jumbotron.my-0.rounded-0
		.container
			h2.display-4= title
			p.lead.my-4 Tibique signiferumque vivendo atqui tristique corrumpit ridens signiferumque meliore dapibus class noluisse dicit causae vim pri persequeris efficiantur ignota ac voluptatum tantas eam constituam malesuada veniam nonumy rhoncus senserit placerat massa agam ante possim eruditi euripidis indoctum vivamus mnesarchum habeo
			a(href='https://github.com/JahirGarcia/tasks-app', target='about_blank').btn.btn-dark.btn-lg Source code