extends layouts/app

block content
	.jumbotron.my-0.rounded-0
		.container
			h1.display-4 Tasks app Nodejs and MongoDB
			p.lead Qui fastidii antiopam reprehendunt sociosqu dignissim feugait vestibulum
			hr
			p.my-4 Percipit aliquip constituam omittantur eius natoque intellegat labores ridiculus eirmod adipiscing tortor mnesarchum dictas varius perpetua erroribus egestas duo graece iusto est dicant consectetuer tantas nascetur moderatius dictum diam quem
			a(href='https://github.com/JahirGarcia/tasks-app', target='about_blank').btn.btn-dark.btn-lg Source code
			